   
        table, th, td {
            border: 1px solid black;
        }
   
        div {
            text-align:center;
            background-color: green;
            width: 100px;
            height: 100px;
            display:inline-block;
            margin-left: 10px;
        }
      
  